* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #222;
	color: #fff;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.logout-button {
	background-color: #fff;
	color: #222;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

.container {
	display: flex;
	flex-direction: row;
	height: 91vh;
	overflow: hidden;
}

.sidebar {
	width: 200px;
	background-color: #333;
	color: #fff;
	padding: 10px;
	overflow-y: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin-bottom: 10px;
}

li a{
	text-decoration: none;
	color: white;
}

li a:hover{
	text-decoration: underline;
}

.content {
	flex: 1;
	padding: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
}

input[type="text"]{
	padding: 10px;
	margin-bottom: 20px;
}

textarea {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}

textarea {
	height: 350px;
}

.submit-button {
	background-color: #222;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	width: 100px;
}

.details,
.action-btns{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.delete-button{
	background-color: red;
}