:root{
    --body-bg: rgb(91, 85, 93);
    --body-moz-bg: -moz-linear-gradient(90deg, rgba(91, 85, 93, 1) 0%, rgba(207, 59, 179, 1) 44%, rgba(91, 85, 93, 1) 100%);
    --body-webkit-bg: -webkit-linear-gradient(90deg, rgba(91, 85, 93, 1) 0%, rgba(207, 59, 179, 1) 44%, rgba(91, 85, 93, 1) 100%);
    --body-gradient-bg: linear-gradient(90deg, rgba(91, 85, 93, 1) 0%, rgba(207, 59, 179, 1) 44%, rgba(91, 85, 93, 1) 100%);
    --body-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b555d", endColorstr="#5b555d", GradientType=1);
    --form-inner-wrapper-bg: #5E17EB;
    --primary-border-radius: 15px;
    --primary-color: white;
}