@import url(./base.css);

.project-title-container{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.logo-img{
    height: 100%;
    width: var(--header-height);
}